header {
  background: #fff;
  color: #000;
  border-bottom: 1px solid #000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 2em;
  color: tomato;
  font-weight: bold;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  margin-left: 5px;
  margin-right: 5px;
}
.carrito {
  width: 50px;
  position: relative;
}
.carritoIcono {
  color: #000;
}
.carritoCantidad {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: tomato;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seccionCatalogo {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.boxItems {
  width: 49%;
  text-align: center;
}
.boxItems img {
  width: 50%;
}
.boxItems button {
  background: #000;
  color: #fff;
  border: inherit;
  padding: 10px 30px;
}